<!doctype html>
<html lang="{{{lang}}}">
  <head>
    <title>Techbridge For Girls</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />

    <link rel="stylesheet" href="/css/styles.css"/>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
  </head>
  <body>
    {{{body}}}
    <script src="{{{jsUrl}}}"></script>
  </body>
</html>