#tg-interestList {
  padding: 10px;
  font-size: 30px;
  color: #e8168b;

  .interestItem {
    padding: 2px 10px;
    background: #e8168b;
    color: #fff;
    border-radius: 5px;
    font-size: 25px;
  }
}
